<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>
  </div>
</div>

<div class="card">
  <div class="card-header">
  Add User
  </div>
  <div class="card-body">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          name="firstName"
          #clientFirstName="ngModel"
          [ngClass]="{'is-invalid': clientFirstName.errors && clientFirstName.touched}"
          [(ngModel)]="client.firstName"
          minlength="2"
          required
        >

        <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">
          First name required
        </div>

        <div [hidden]="!clientFirstName.errors?.minlength" class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          #clientLastName="ngModel"
          [ngClass]="{'is-invalid': clientLastName.errors && clientLastName.touched}"
          [(ngModel)]="client.lastName"
          minlength="2"
          required
        >

        <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
          Last name required
        </div>

        <div [hidden]="!clientLastName.errors?.minlength" class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          #clientEmail="ngModel"
          [ngClass]="{'is-invalid': clientEmail.errors && clientEmail.touched}"
          [(ngModel)]="client.email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required
        >

        <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
          Email required
        </div>

        <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
          Email is not valid.
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          name="phone"
          #clientPhone="ngModel"
          [ngClass]="{'is-invalid': clientPhone.errors && clientPhone.touched}"
          [(ngModel)]="client.phone"
          minlength="10"
          required
        >

        <div [hidden]="!clientPhone.errors?.required" class="invalid-feedback">
          Phone is required.
        </div>

        <div [hidden]="!clientPhone.errors?.minlength" class="invalid-feedback">
          Must be at least 10 characters.
        </div>
      </div>

      <div class="form-group">
        <label for="balance">Hours spent on project</label>
        <input
          type="number"
          class="form-control"
          name="balance"
          #clientBalance="ngModel"
          [(ngModel)]="client.balance"
          [disabled]="disableBalanceOnAdd"
        >
      </div>

      <input type="submit" value="Submit" class="btn btn-primary btn-block">

    </form>
  </div>
</div>


